<?xml version='1.0' encoding='utf-8'?>
<widget id="com.ojtap.english" version="0.0.1" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>OJTAP</name>
    <description>
        OJTAP On-the-Job Training Assistance Portal
    </description>
    <author email="" href="">
        ALLIANCE
    </author>
	
    <content src="login.html" />
	<feature name="inappbrowser">
		<param name="android-package" value="org.apache.cordova.inappbrowser" />
	</feature>
	<feature name="SplashScreen">
		<param name="android-package" value="org.apache.cordova.SplashScreen" />
	</feature>

    <access origin="*" subdomains ="true" browserOnly="true"/>
	
	<preference name="android-minSdkVersion" value="5" />
	<preference name="SplashScreen" value="splash" />
	<preference name="SplashScreenDelay" value="3000" />
</widget>
